# Backend
/backend/judge.db
/backend/.env
/backend/vendor/
/backend/tmp/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# Frontend
/frontend/node_modules/


# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Docker
.docker/
docker-compose.override.yml 